<div class="bodyExpert">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbarExpert">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="../../../assets/logo22.png"
            height="100"
            alt="MDB Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 7%">
          <li class="nav-item">
            <a class="nav-link" href="/userPage"
              >
                <i class="bi bi-person-fill"></i> Candidate Platform</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/expertPage"
              ><span><i class="bi bi-building-gear"></i> Expert Platform</span></a
            >
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="text-reset me-3" href="#">
          <i class="fas fa-shopping-cart"></i>
        </a>

        <!-- Avatar -->
        <div ngbDropdown class="dropdown"  style="text-decoration: none; color: black;">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            id="navbarDropdownMenuAvatar"
            role="button"
            ngbDropdownToggle
            style="text-decoration: none; color: black;"
          >
          <div
            class="avatar"
            style="
              background-color: #cbcdd7;
              border-color: #dee8f7;
              color: #161c45;
            "
          >
            {{ extractInitials(expertuserr.name) }}
            <span class="stat green"></span>
          </div>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
            ngbDropdownMenu
          >
            <li>
              <a class="dropdown-item" href="#">My profile</a>
            </li>

            <li>
              <a class="dropdown-item" (click)="onExpertLogout()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <h5 class="pro info">Professional informations :</h5>
  <section class="profile">
    <div class="profile-container">
      <div class="logo">
        <img src="https://img.freepik.com/vecteurs-premium/logo-entreprise-conception-avatar_1465-2.jpg" alt="Logo" width="130" />
      </div>
      <div class="info">
        <h3 >
          <span class="Name" *ngIf="!editing">{{ expertuserr.name }}</span></h3>
          
        <input class="Name" *ngIf="editing" type="text"  [(ngModel)]="expertuserr.name" />
        <p class="bio" *ngIf="!editing">{{ expertuserr.bio }}</p>
        <textarea class="bio" *ngIf="editing" type="text" [(ngModel)]="expertuserr.bio"></textarea>
      </div>
      <div class="contact-wrapper">
        <div class="contact font">
          <div>
            <h6>Company Name:</h6>
          </div>
          <div >
            <span *ngIf="!editing">{{ expertuserr.companyName }}</span>
            <input *ngIf="editing" type="text"  [(ngModel)]="expertuserr.companyName" />
          </div>
          
            
          
        </div>
        <div class="contact font">
          <div>
            <h6>Address:</h6>
          </div>

          <div >
            <span *ngIf="!editing" >{{expertuserr.email}}</span>
         <input *ngIf="editing" type="text"  [(ngModel)]="expertuserr.email" />
          </div>

        

          <div>
            <span *ngIf="!editing">{{ expertuserr.phoneNumber}}</span>
            <input *ngIf="editing" type="text" [(ngModel)]="expertuserr.phoneNumber" />
          </div>
        </div>
        <div class="contact font">
          <div>
            <h6 *ngIf="expertuserr.linkedinProfile != '' || expertuserr.facebookProfile != ''">Social links:</h6>
          </div>
          
          <div>
            <i *ngIf="expertuserr.linkedinProfile != '' " class="bi bi-linkedin"></i>
            <div *ngIf="!editing; else editLinkedin">
              <a href="{{ expertuserr.linkedinProfile }}">{{ expertuserr.linkedinProfile}}</a>
            </div>
            <ng-template #editLinkedin>
              <input *ngIf="editing" type="text" [(ngModel)]="expertuserr.linkedinProfile" />
            </ng-template>
          </div>
          <div>
            <i class="bi bi-facebook" *ngIf="expertuserr.facebookProfile != '' "></i>
            <div *ngIf="!editing; else editFacebook">
              <a href="{{ expertuserr.facebookProfile }}">{{ expertuserr.facebookProfile }}</a>
            </div>
            <ng-template #editFacebook>
              <input *ngIf="editing" type="text" [(ngModel)]="expertuserr.facebookProfile" />
            </ng-template>
          </div>
 <div   *ngIf="!formValid"  class="error-message">
        Veuillez remplir tous les champs obligatoires.
    </div>
        </div>
      </div>
    
      <div class="editB">
        <button type="button" class="edit" (click)="toggleEditing()"> 
        <span class="edit-icon"></span><span>Edit</span> 
        </button>
       
        <button class="save" *ngIf="editing" (click)="saveChanges()">Save</button>

        
       
      </div>
   
      
    </div>
     


  </section>
  

    
  
  <h5 class="info"></h5>

  <section class="profile session">
    <div class="content">
      <h5 style="font-family: Raleway; font-weight: bold">
        create your exchange session now !
      </h5>
      <p>
        Create live exchange sessions with candidates effortlessly using the
        'Add Session' button. <br />Schedule and conduct real-time interviews
        and interactions to assess their skills and suitability.<br />
        Let's find the perfect match for your team!"
      </p>
      <button
        type="button"
        class="btn btn-secondary btn-lg"
        routerLink="/sessionForm"
      >
        Create Session
      </button>
    </div>

  </section>
  <a style="margin-left: 45%"         class="btn btn-secondary btn-lg"
  href="expertSessions">View My Sessions</a>
</div>
