
 <div class="body">
    <nav class="navbar bg-body-tertiary navbarExpert fixed-top">
      <div class="container-fluid d-flex justify-content-between">
        <!-- <span class="mb-0 ">Logo</span> -->
        <span class="mb-0 ">
          <a style="margin-top: -13%;" href="/fr" class="d-flex align-items-center link-dark text-decoration-none">
            <img src="../../../assets/logo22.png"            
            alt="Logo"   class="img-fluid" style="width: 100px !important;">
            
  
          </a>
        </span>
    
                  <a class="nav-link d-flex align-items-center login" href="/userlogin"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg><span>
                    Espace candidat            </span></a>
                    <a class="nav-link d-flex align-items-center recdash" href="/login">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg><span>
                        Espace recruteur            </span></a>
        <div class="d-flex align-items-center navbar-text">
            

          <span class="ml-2">Login/Register</span>
          <img src="../../../assets/avatar.png" alt="Avatar" class="avatar" />
        </div>
      </div>
    </nav>

    <div class="home-page">
      <div class="block">
         <h1>Recruitment Metamorphosis : An Innovative Vision</h1><br>
           <p class="intro">"Simplicity, efficiency, and fairness define the recruitment facilitated by this application. Addressing a need, it connects recruiters and talents for targeted projects, reducing unnecessary costs."</p>

      </div>
      <div class="block">
        <img  src="../../assets/homePage.jpg" alt="An illustration of me in profile">
      </div>
     </div>



     <div class="mt-1 profile-container"></div>
     <div class="mt-1 profile-container"></div>
     <div class="mt-1 profile-container"></div>


     
    <div class="row bas profile  ">
      <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
        <div class="pricing-trial-content d-flex justify-content-between">
          <div class="text-center text-md-start mt-3">
            <h3>Recruiter? Join us, create your account for free!!</h3><br>
            <h5> 
               You can post job listings and organize sessions to find the ideal candidate for your position</h5><br>
            <a class="btn mt-2 mt-lg-3 loginexpert1" href="/signup">Create an account</a>
                    </div>

          <!-- image -->
          <img width="230px" src="../../assets/expertHP.jpg" class="pricing-trial-img img-fluid" alt="ATS recruiter" >
        </div>
      </div>
    </div>

    <div class="mt-1 profile-container"></div>

    <div class="row bas profile  ">
      <div class="col-12 col-lg-10 col-lg-offset-3 mx-auto">
        <div class="pricing-trial-content d-flex justify-content-between">
          <div class="text-center text-md-start mt-3">
            <h3>Searching for an internship or a job? Join us and create your account for free!</h3><br>
            <h5>You'll be able to explore offers and opportunities that match your preferences</h5><br>
            <a class="btn  mt-2 mt-lg-3 loginexpert" href="/usersignup">Create an account</a>
                    </div>

          <!-- image -->
          <img width="230px" src="../../assets/userhp2.jpg" class="pricing-trial-img img-fluid" alt="ATS recruiter" >
        </div>
      </div>
    </div>
    
    
        
        
          

       






      
  <div class="mt-1 profile-container"></div>
  
  
 <div class="animate__animated animate__zoomIn">
 <div class="row d-flex justify-content-center profile session0">
  
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="card text-dark" >
      <div class="card-header align-items-start">
        <div>
          <h2 class="fw-bolder">{{ getSessionCount() }}</h2>
          <p class="card-text">sessions</p>
        </div>
        
        <div class="avatar bg-light-primary p-50">
          <div class="avatar-content">
            <i data-feather="archive" class="font-medium-5"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive font-medium-5"><polyline points="21 8 21 21 3 21 3 8"></polyline><rect x="1" y="3" width="22" height="5"></rect><line x1="10" y1="12" x2="14" y2="12"></line></svg>
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>


  

  <div class="col-lg-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-header align-items-start">
        <div>
          <h2 class="fw-bolder">{{ getUserCount() }}</h2>
          <p class="card-text">User</p>
        </div>
        <div class="avatar bg-light-success p-50">
          <div class="avatar-content">
            <i data-feather="user-check" class="font-medium-5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check font-medium-5"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-6 col-12">
    <div class="card">
      <div class="card-header align-items-start">
        <div>
          <h2 class="fw-bolder">{{ getExpertUserCount() }}</h2>
          <p class="card-text">Expert User</p>
        </div>
        <div class="avatar bg-light-warning p-50">
          <div class="avatar-content">
            <i data-feather="briefcase" class="font-medium-5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase font-medium-5"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg></i>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  
</div></div>      





   
<div class="mt-1 profile-container"></div>

  
<section class="profile session">
  <div class="content">
     <div id='container1'>
      <h1> Testimonials </h1>  
    </div>
  </div> 
  
  <div class="container">
    <div class="box">
      
      <div class="top">
       
        <div class="profile">
          <img src="../../assets/bassem.jpg"  alt="ATS recruiter" >

        </div>
        <h1 class="title">bassem beji</h1>
        <h3 class="job">Front-end Developer</h3>
      </div>
      <div class="bottom">
        <div class="p11"> 
         <p>
          "As part of our 'JOBS Internship Program' initiative, Fabskill provided an intuitive tool that seamlessly integrated with our job fair matching process. </p>        </div>
        <div class="social-links">
          <div class="ul">
            <a class="a1" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      
      <div class="top">
       
        <div class="profile">
          <img src="../../assets/avatar.png"  alt="ATS recruiter" >

        </div>
        <h1 class="title">sirine bourcheda</h1>
        <h3 class="job">Back-end Developer</h3>
      </div>
      <div class="bottom">
        <div class="p11"> 
         <p>Simple, intuitive, and comprehensive, this platform offers recruitment services that simplify the lives of recruiters and job seekers in Tunisia.</p>
        </div>
        <div class="social-links">
          <div class="ul">
            <a class="a1" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      
      <div class="top">
       
        <div class="profile">
          <img src="../../assets/avatar.png"  alt="ATS recruiter" >

        </div>
        <h1 class="title">Mohamed Saddem BEN AMEUR</h1>
        <h3 class="job">QA Engineer</h3>
      </div>
      <div class="bottom">
        <div class="p11">      
             <p>We have found a valuable ally in this website, which has understood and shared our culture </p>
        </div>
        
        <div class="social-links">
          <div class="ul">
            <a class="a1" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a class="" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>



  </section>
<!-- 
    <section class="content1">
        <div class="profile session1">
          

        </div>
    </section>
    --><div class="container3">
      <form class="form">
        <h2>Formulaire de Témoignage</h2>
        <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <div class="form-group">
            <label for="testimonials">Témoignages :</label>
            <textarea id="testimonials" name="testimonials" placeholder="Share your testimony"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>


    <footer class="row p-2 px-lg-5  border-top  bg-light-secondary">

      <div class="col-sm-12 col-lg mb-2">
          <a href="/fr" class="d-flex align-items-center link-dark text-decoration-none">
            <img src="../../../assets/logo22.png"            
            alt="Logo"   class="img-fluid" style="width: 170px   !important;">
            

          </a>

         
      </div>
      


<!-- 
      <div class="col-sm-6 col-lg mt-1 mb-2">
          <h4>Candidat</h4>
          <ul class="nav flex-column mt-1">
              <li class="nav-item "><a href="/candidate/login" class="login text-dark">
                      Inscription candidat </a></li>
              <li class="nav-item "><a class="text-dark" href="/candidate/search">
                      Parcourir les opportunités</a></li>
              <li class="nav-item "><a class="text-dark" href="https://landing.fabskill.com/apply-now/" target="_blank">
                      Emplois de développeur</a></li>
              <li class="nav-item "><a class="text-dark" href="https://landing.fabskill.com/international-job-offers/" target="_blank">
                      Offres d'emploi international</a></li>
          </ul>
      </div>

      <div class="col-sm-6 col-lg mt-1 mb-2">
          <h4>Recruteur</h4>
          <ul class="nav flex-column mt-1">
              <li class="nav-item "><a class="recdash text-dark" href="/original/">
                      Inscription recruteur</a></li>
              <li class="nav-item "><a class="recdash text-dark" href="/original/">
                      Poster une offre d'emploi</a></li>
              <li class="nav-item "><a class="text-dark" href="https://landing.fabskill.com/recrutez-rapidement-et-efficacement/" target="_blank">
                  Recrutez rapidement et efficacement</a></li>
              <li class="nav-item "><a class="text-dark" href="https://landing.fabskill.com/recrutez-a-distance/" target="_blank">
              Recrutez à distance</a></li>
          </ul>
      </div>
 -->
 <div class="col-sm-6 col-lg mt-1 mb-2">
  <h4>Candidate</h4>
  <ul class="nav flex-column mt-1">
      <li class="nav-item"><a href="" class="login text-dark">
              Candidate Registration</a></li>
      <li class="nav-item"><a class="text-dark" href="">
              Browse Opportunities</a></li>
      <li class="nav-item"><a class="text-dark" href="" target="_blank">
              Developer Jobs</a></li>
      <li class="nav-item"><a class="text-dark" href="" target="_blank">
              International Job Offers</a></li>
  </ul>
</div>

<div class="col-sm-6 col-lg mt-1 mb-2">
  <h4>Recruiter</h4>
  <ul class="nav flex-column mt-1">
      <li class="nav-item"><a class="recdash text-dark" href="">
              Recruiter Registration</a></li>
      <li class="nav-item"><a class="recdash text-dark" href="">
              Post a Job Offer</a></li>
      <li class="nav-item"><a class="text-dark" href="/" target="_blank">
          Hire Quickly and Efficiently</a></li>
      <li class="nav-item"><a class="text-dark" href="" target="_blank">
      Hire Remotely</a></li>
  </ul>
</div>



      

  </footer>
   
  </div>
   


   
   
  